@font-face {
  font-family: "Helvetica";
  src: local("Helvetica.ttc"), url("../fonts/Helvetica.ttc") format("truetype");
}

@font-face {
  font-family: "Oceanwide";
  src: local("Oceanwide-Semibold.otf"), url("../fonts/Oceanwide-Semibold.otf") format("opentype");
}


body{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-size: 160% 110%;
  animation: smooth-gradient 5s ease infinite;
}

@keyframes smooth-gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {background-position: 40% 30%;}

  50% {
    background-position: 100% 50%;
  }
  75% {background-position: 75% 25%;}
  100% {
    background-position: 0% 35%;
  }
}




.headerdiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

@media (max-width: 1050px) {
  .headerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
  }
  
}

.header {
  width: 100%;
  color: white;
  text-align: left;
  font-family: "Oceanwide";
  font-size:90px;
  font-weight: Bold;
  padding-bottom: 50px;
  margin: 50px;
  position: relative;
  display: flex;
    justify-content: flex-start;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  position: relative;

}

.header.fixed {
  position: absolute;
  top: -100vh;
}

.welcome{
  position: relative;
  width: 500px;
}

.welcome-text{
  color: rgb(255, 255, 255);
  font-family:  sans-serif;
  font-weight: 100;
  font-size: 25px ;
  margin: 20px 0;
  animation: fade-in 1s ease-in-out;
  opacity: 0;
  animation-delay: none;
  animation-fill-mode: forwards;

}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-pres{
  color: rgb(0, 0, 0);
  font-family: "Helvetica";
  font-weight: bolder;
  font-size: 20px ;
  margin: 20px 0;
  animation: fade-in 1s ease-in-out;
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


.typing-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  animation: typing 0.3s steps(30, end);
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: wrap;

}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.arrow {
  position: fixed;
  bottom: 20px;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
  text-align: center;
}

@media (max-width: 1050px) {

  .arrow {
    position: fixed;
    bottom: -5px;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    text-align: center;
  }
}

.arrow i {
  font-size: 2.5rem;
  color: white;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0);
    animation-timing-function: cubic-bezier(0.6, 0.05, 0.1, 0.3);
  }
  50% {
    transform: translate(-50%, 20px);
    animation-timing-function: cubic-bezier(0.6, 0.05, 0.1, 0.3);
  }
  100% {
    transform: translate(-50%, 0);
    animation-timing-function: cubic-bezier(0.6, 0.05, 0.1, 0.3);
  }
}

.arrowimg{
  width: 30px;
}

.scrolltext{
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.cursor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.2em;
  width: 1px;
  border-right: 2px solid white;
  animation: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}



.contentpage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentframe{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   width: 70%;
   border-radius: 20px;
   overflow: hidden;
   margin: 30px;    
   
}

@media (max-width: 1050px) {
  .contentframe{
    flex-direction: column; 
    width: 70%; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contentpage{

    animation: fade-in 1s ease-in-out;
    opacity: 0;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  .navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-wrap:wrap;
  }

  @media (max-width: 1050px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
    }
  }

  .logo{
  width: 50px;
  margin-left : 70px;
  padding-right: 45px;
  }
  @media (max-width: 1050px) { 

    .logo{
      width: 50px;
      margin-left : 5px;
      }
  }


  .aboutme{
    font-family: "Oceanwide";
    font-weight: Bolder;
    font-size: 22px;
    color: white;
    margin: 0 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;

  }

  @media (max-width: 1050px) {
    .aboutme{
      font-family: "Oceanwide";
      font-weight: Bolder;
      font-size: 22px;
      color: white;
      margin: 0 5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
  
    }
  }

  .aboutme:hover{
    transform: scale(1.1);

  }

  .contactme{
    font-family: "Oceanwide";
    font-weight: Bolder;
    font-size: 22px;
    color: white;
    margin: 0 70px 0 25px;
    border: none;
    background-color: transparent;
  }

  @media (max-width: 1050px) {
    .contactme{
      font-family: "Oceanwide";
      font-weight: Bolder;
      font-size: 22px;
      color: white;
      margin: 0 5px 0 5px;
      border: none;
      background-color: transparent;
    }
  }

  .contactme:hover{
    transform: scale(1.1);

  }

  .myresume  a {
    text-decoration: none;
    Color: white;
    cursor: pointer;

  }

  .contactme a {
    text-decoration: none;
    Color: white;
    cursor: pointer;

  }

.hrbar{
  color: black;
  width: 80%;
}

  a{
    max-width: 500px;
  }
  .websitethumbs{
    width: 400px;
    min-height: 100%;
  }

  .projectdescription{
    display: flex;
    flex-direction: column;
    font-family: "Oceanwide";
    color: white;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }

  .myresume{
    font-family: "Oceanwide";
    font-weight: Bolder;
    font-size: 22px;
    color: white;
    margin: 0 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }


  @media (max-width: 1050px) {
    .myresume{
      font-family: "Oceanwide";
      font-weight: Bolder;
      font-size: 22px;
      color: white;
      margin: 0 5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  
  .myresume:hover{
    transform: scale(1.1);

  }

.logolinkedin{
  width: 40px;
  margin-left: 75px;
  cursor: pointer;
}
.logolinkedin:hover{
  transform: scale(1.1);
}

@media (max-width: 1050px) { 

  .logolinkedin{
    width: 40px;
    margin-left: 1px;
    cursor: pointer;
  }

}


.logogithub{
  width: 40px;
  margin-left: 40px;
  cursor: pointer;
}



.logogithub:hover{
  transform: scale(1.1);
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  height: 130px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.footerleftside{
  font-family: sans-serif;
  color: #4158D0;
  font-weight: 200;
  margin: 0 90px;
}

.footerrightside{
  margin: 0 90px;

}


.arrowupimg{
  width: 40px;
  cursor: pointer;
}

.arrowup {

  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.logogithubfooter{
  width: 40px;
  cursor: pointer;
  margin: 0 10px;

}

.logolinkedinfooter{
  width: 40px;
  cursor: pointer;
  margin: 0 10px;
}


.emailicon{

  width: 40px;
  cursor: pointer;
  margin: 0 10px;

}

.hichpic{
  width: 90px;
  border: 3px solid black;
  border-radius: 3px;
  margin-bottom: 15px;
}

.aboutmehead{
  padding: 40px 40px 10px 40px;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.aboutmetext{
  padding: 0 40px 40px 40px;
}



